<form method="post" action="">
<input type="text" id="login-text-user" value="Title" name="title"/>
<br />
<textarea cols="80" rows="10" name="content"></textarea>
<br />
<input type="submit" id="login-submit" value=""/>
</form>

