%form{ :method => "post", :action => ""}
  %input#login-text-user{ :type => "text", :value => @edit == true ? post.title : "Title", :name => "title"}/
  %br/
  %textarea{ :cols => "80", :rows => "10", :name => "content"}
    - if @edit == true then
      = post.content
  %br/
  %input.login-submit{ :type => "submit", :value => ""}/

