<form method="post" action="">
<input type="text" id="login-text-user" value="Title" name="title"/>
<input type="textarea" id="login-text-pass" value="" name="content"/>
<input type="submit" id="login-submit" value=""/>
</form>

